<div class="repo-view">
    <div class="widget">
        <div class="widget-heading">
            每日提交数量
        </div>
        <div class="widget-body">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Line"
                      chartist-data="repoView.commitChartData"
                      chartist-chart-options="repoView.commitChartOptions"
                      chartist-events="repoView.commitChartEvents"
                    >
            </chartist>
        </div>
    </div>

    <div class="widget">
        <div class="widget-heading">
            总览
        </div>
        <div class="widget-body">
            <table class="table repo-summary-table">
                <tr>
                    <td>提交总数</td>
                    <td>{{repoView.lastDayCommitCount}}</td>
                    <td>{{repoView.lastSevenDaysCommitCount}}</td>
                    <td>{{repoView.lastFourteenDaysCommitCount}}</td>
                </tr>
                <tr>
                    <td>贡献者</td>
                    <td>{{repoView.lastDayContributorCount}}</td>
                    <td>{{repoView.lastSevenDaysContributorCount}}</td>
                    <td>{{repoView.lastFourteenDaysContributorCount}}</td>
                </tr>
                <tr class="totals">
                    <td></td>
                    <td>今天</td>
                    <td>最近一周</td>
                    <td>最近两周</td>
                </tr>
            </table>
        </div>
    </div>
</div>