<widget-modal widget-modal-title="编辑团队" class="edit-team-modal" widget-modal-close="true" id="edit-team">
    <div class="pull-right">
        <a class="team-delete" ng-click="ctrl.removeTeam()">
            <span class="fa fa-trash"></span>
            删掉
        </a>
    </div>
    <form name="editTeamForm" ng-submit="ctrl.submit(editTeamForm.$valid)" novalidate="novalidate">

        <label class="modal-label">团队名称: {{ctrl.teamName}}</label>

        <div class="form-group">
            <input class="form-control"
                   type="text"
                   name="customName"
                   ng-model="ctrl.customName"
                   placeholder="团队别名(可选)"
                   autocomplete="off" />
        </div>

        <div class="button-row text-center">
            <button type="submit" class="btn btn-primary btn-wide">提交</button>
        </div>

    </form>
</widget-modal>