<widget-modal widget-modal-title="配置代码分析组件" class="ca-config">
    <form name="configForm" role="form"
          ng-submit="caWidget.submit(caWidget.caCollectorItem, caWidget.saCollectorItem, caWidget.ossCollectorItem, caWidget.testConfigs)"
          novalidate="novalidate">

        <div class="box">

            <form-group input="caCollectorItem" class="text-center">

                <div class="text-center modal-label">静态代码分析:</div>

				<input type="text" name="caCollectorItem" class="form-control" placeholder="请选择静态代码分析项目"
					ng-model="caWidget.caCollectorItem"
					uib-typeahead="item as item.description for item in getCodeQualityCollectors($viewValue)" typeahead-focus
					typeahead-template-url="sonarProjectUrlTemplate.html"
					typeahead-wait-ms="250" autocomplete="off"
					typeahead-min-length="0"
          typeahead-no-results="noResults"

					required>
          <div class="form-control" ng-show="noResults">
            没有查到结果
          </div>

            </form-group>
        </div>


        <div class="form-group text-center">
            <div class="text-center modal-label">安全扫描:</div>

            <ui-select ng-model="caWidget.saCollectorItem" theme="bootstrap" ng-disabled="caWidget.saJobs.length === 0">
                <ui-select-match placeholder="请选择您的安全扫描项目">{{$select.selected.description}}
                </ui-select-match>
                <ui-select-choices
                        repeat="item in (caWidget.saJobs | orderBy:['item.collector.name','description'] | filter: $select.search ) track by item.id"
                        refresh="refreshPatients($select.search)"
                        refresh-delay="0">
                    <div ng-bind-html="(item.collector.name + ' - ' + item.description) | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有找到可用的项目
                </ui-select-no-choice>
            </ui-select>
        </div>

        <div class="form-group text-center">
            <div class="text-center modal-label">开源代码扫描:</div>

            <ui-select ng-model="caWidget.ossCollectorItem" theme="bootstrap" ng-disabled="caWidget.ossJobs.length === 0">
                <ui-select-match placeholder="请选择项目">{{$select.selected.description}}
                </ui-select-match>
                <ui-select-choices
                        repeat="item in (caWidget.ossJobs | orderBy:['item.collector.name','description'] | filter: $select.search ) track by item.id"
                        refresh="refreshPatients($select.search)"
                        refresh-delay="0">
                    <div ng-bind-html="(item.collector.name + ' - ' + item.options.applicationName) | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有找到可用的项目
                </ui-select-no-choice>
            </ui-select>

        </div>


        <form-group class="text-center">
            <div class="text-center modal-label">功能测试:</div>

            <div class="form-group text-center" ng-repeat="configItem in caWidget.testConfigs">
                <div class="col-sm-3">
                    <input
                            type="text"
                            name="testJobName"
                            class="form-control-inline text-center"
                            ng-model="configItem.testJobName"
                            minlength="1"
                            maxlength="8"
                            required>
                </div>
                <div class="col-sm-8">

                    <ui-select ng-model="configItem.testCollectorItem" theme="bootstrap"
                               ng-disabled="caWidget.testJobs.length === 0">
                        <ui-select-match placeholder="{{caWidget.testToolsDropdownPlaceholder}}">
                            {{$select.selected.description}}
                        </ui-select-match>
                        <ui-select-choices allow-clear="true"
                                           repeat="item in (configItem.testJob | orderBy:['collector.name','description'] | filter: $select.search ) track by item.id">
                            <div ng-bind-html="(item.niceName + '-' + item.description) | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                           没有找到可用的项目
                        </ui-select-no-choice>
                    </ui-select>


                </div>
                <dash-trash class="fa-lg" ng-click="caWidget.deleteTestConfig(configItem)"></dash-trash>
            </div>
            <div class="form-group text-center"
                 ng-show="caWidget.testConfigs.length==0 || caWidget.testConfigs[caWidget.testConfigs.length-1].testCollectorItem != null">
                <span class="fa fa-plus-circle fa-2x clickable" ng-click="caWidget.addTestConfig()"></span>
            </div>
            <div class="form group text-center">
                <label></label>
                <button type="submit" class="btn btn-primary btn-wide">保存</button>
            </div>
        </form-group>
    </form>
</widget-modal>
<script type="text/ng-template" id="sonarProjectUrlTemplate.html">
	<a title={{match.model.options.instanceUrl}}>
		<span ng-bind-html="match.label | uibTypeaheadHighlight:query"/> 
	</a>
</script>
