<widget-modal widget-modal-title="配置部署组件">
    <form class="deploy-config" name="configForm"
          ng-submit="deployConfig.submit(configForm.$valid,deployConfig.deployJob)" novalidate="novalidate">
        <form-group input="deployJob" errors="{required:'Please select your application'}">

	    <input
			type="text" name="collectorItemId" class="form-control"
			placeholder="查找部署应用"
			ng-model="deployConfig.deployJob"
			uib-typeahead="job as job.name for job in getDeploymentJobs($viewValue)"
			typeahead-focus 
			typeahead-template-url="deploymentsUrlTemplate.html"
			typeahead-min-length="0" 
			typeahead-wait-ms="250" 
			autocomplete="off"
			typeahead-no-results="noResults" 
			required>
	
		<div class="form-control" ng-show="noResults">
			没有找到可用应用
		</div>
        
        <form-group input="ignoreRegex" errors="{validregex:'Please enter a valid Regular Expression'}">
	
	        <label class="modal-label">忽略环境失败正则表达式:</label>
	        <input type="text"
	               name="ignoreRegex"
	               class="form-control text-center"
	               ng-model="deployConfig.ignoreRegex"
	               placeholder="输入正则表达式"
	               autocomplete="on"
	               validregex />
	    </form-group>

        <div class="form-group checkbox">
            <label title="如果选中不同服务器中处理相同名称和ID的部署将分组在一起">
                <input type="checkbox" name="aggregateServers" ng-model="deployConfig.aggregateServers" ng-change="reload()">
                合计服务器
            </label>
        </div>

        <hr/>

        <div class="form-group text-center">
            <label class="modal-label">
                告警规则:
            </label>
            <br/>
            任何环境失败
        </div>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">保存</button>
        </div>
    </form>
</widget-modal>
<script type="text/ng-template" id="deploymentsUrlTemplate.html">
	<a title={{match.model.group}}>
		<span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"/> 
	</a>
</script>