<widget-modal widget-modal-close="true" widget-modal-title="Monitor Icon Legend">
<div class="widget-detail">
	<div class="widget-detail-body">
		<div class="dash-status fa icon-legend-container">
			<div class="row icon-legend-header">
				<div class="col-sm-3">图标</div>
				<div class="col-sm-6">状态</div>
				<div class="col-sm-3">HTTP状态码</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-pass fa-check"></span>
				</div>
				<div class="icon-legend-text">
					<div class="col-sm-6">正常</div>
					<div class="col-sm-3">200</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-warn fa-warning"></span>
				</div>
				<div class="icon-legend-text">
					<div class="col-sm-6">警告</div>
					<div class="col-sm-3">300-400</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-pass fa-lock"></span>
				</div>
				<div class="icon-legend-text">
					<div class="col-sm-6">未认证</div>
					<div class="col-sm-3">401</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-fail text-center">!</span>
				</div>
				<div class="icon-legend-text">				
					<div class="col-sm-6">失败</div>
					<div class="col-sm-3">其他</div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
</widget-modal>